*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #262626;
}

.container{
    position: relative;
    display: flex;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, transparent, #0004); /*agrega el reflejo bajo la caja*/
}

.container .box{
    position: relative;
    width: 320px;
    height: 400px;
    background: #444;
    margin: 0 20px;
    border-radius: 20px;

    background: linear-gradient(45deg, #2da2ff 25%, #444 25%, #444 50%, #2da2ff 50%, #2da2ff 75%, #444 75%, #444 100%); /*c贸digo para las lineas oblicuas turquesas y grises (45deg es la inclinaci贸n de las lineas) */
    background-size: 40px 40px;
    filter: grayscale(1); 
    animation: animate8g 0.5s linear infinite; 
    animation-play-state: paused;
    transition: filter 1s;
    display: flex;
    justify-content: center; 
}   

.container .box:nth-child(2){
    background: linear-gradient(135deg, #ff61ae 25%, #444 25%, #444 50%, #ff61ae 50%, #ff61ae 75%, #444 75%, #444 100%);/*c贸digo para las lineas oblicuas fucsias y grises (135deg es la inclinaci贸n de las lineas) */
    background-size: 40px 40px;
}

.container .box:hover{
    animation-play-state: running;
    filter: grayscale(0);

}
@keyframes animate8g {
    0% {
        background-position: 0;
    }
    100%{
        background-position: 40px;
    }
}

.container .box img{
    position:absolute;
    height: 90%;
    bottom: 0; 
    transition: 0.5s;
}

.container .box:hover img{
    height: 480px; 
}

